*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    
    height:100vh;
    display:flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}
h1{
    font-size: 40px;
    text-align: center;
    color: #fff;
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
    letter-spacing: 5px;
}
.container{
    position: relative;
    width: 120px;
    height: 120px;
    transform-style: preserve-3d;
    animation: rotate 45s linear infinite;
}

@keyframes rotate {
 0% {
    transform: perspective(1500px) rotateY(0deg);
}
100%{
    transform: perspective(1500px) rotateY(360deg);
    }
}

.container span{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transform-origin: center;
    transform-style: preserve-3d;
    transform: rotateY(calc(var(--k)*45deg)) translateZ(350px);
}
.container span img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 20px;
    transition: 2s;
}
.container span:hover img{
    transform: translateY(-30px) scale(1);
}

body {
	background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
	background-size: 400% 400%;
	-webkit-animation: gradient 15s ease infinite;
	        animation: gradient 15s ease infinite;
}

@-webkit-keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}